<section class="about-us">
    <div class="about flexed">
        <a class="btn  btn-lg " href="#" role="button"></a>
            <h1>About Us</h1>
        <a class="btn  btn-lg "href="#" role="button"></a>
    </div>


    
    <div id="appcorousel" class="container  cardinfo three-percent-margin-down" >
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item">
                    <div class="card ">
                        <div class="card-body">
                            <h3 class="card-title text-center ">About Us</h3>
                            <p class="card-text text-wrap">Here at Syntax Solution, we blend innovation, expertise, and commitment to empower businesses with cutting-edge technology solutions. Our journey began with a vision—to bridge the gap between complex IT challenges and practical, sustainable solutions. Today, we stand as a trusted partner for organizations seeking transformational ICT services.
                            </p>
                           </div>
                    </div>
                  </div>
              <div class="carousel-item active ">
                <div class="card ">
                    <div class="card-body">
                        <h3 class="card-title text-center ">Our Mission</h3>
                        <p class="card-text text-wrap">
                            Our mission is simple yet profound: To decode complexity and deliver simplicity. We believe that technology should enhance efficiency, streamline processes, and drive growth. Whether it’s optimizing cloud infrastructure, securing data, or developing custom software, we’re here to simplify the intricate world of ICT for our clients.       
                        </p>
                       </div>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
       
</section>