

.card-text{
    width: inherit;
}
.card-body{
    width: inherit;
}
.card{
    width: inherit;
    border: none;
}
.three-percent-margin-down{
    margin-bottom: 3%;
}
.carousel-item {
    border-radius: 5%;
}