
.container-fluid{
    /* height: 100vh !important; */
    
    } 
    .colcontainer{
        opacity: 1;
        background: none;
        background-color: none;
        /* margin-bottom: 2%; */
    }
    .bbb{
        padding-top: 10%;
        padding-bottom: 10%;
        display: flex;
        /* justify-content: flex-end; */

        width: inherit;
        height: inherit; 
        flex-wrap: wrap;
        position: relative;
       box-sizing: border-box;
    }
    .d01{
width: 5%;
box-sizing: border-box;
    }
.d02{
        width: 95%;
        box-sizing: border-box;
 }
 
 

.highlight{
    font-family: fantasy;
}

@media screen and (min-width:574px) {
    .d03{

        position: relative;
        display: flex;
        justify-content: flex-end;
        width: 40%;
        background-image: url("../.././../assets/images/dsi .png");
        background-repeat: no-repeat;
        /* Switch at 777 */
        background-size:contain;
        background-position:right;
        /* background-position:right; */
         /* background-size:cover; */
    
         box-sizing: border-box;
       
     }
     .d03 > img{
    
        height: inherit;
     } 
     .d02{
        width: 55%;
    }
}
@media screen and (min-width:665px) {
    
}