
<section>
<div class="container-fluid">
  <div class="bbb">
    <div class="d01"></div>
    <div class="d02 colcontainer">
      <div class="row colcontainer">
        <div class="col colcontainer">
          <h1 class="highlight">Welcome to </h1>
          <h1 class="highlight">Syntax Solution</h1>
         
            <span>Your last busstop for Web, Mobile, Desktop, Cloud, Browser Extension and BlockChain projects. </span>
            <p>
            <span>We </span> transform ideas and businesses into innovative technology solutions/viable products that exceed industry standard.
            
          </p>
          <a class="btn  btn-lg" href="#" role="button"
          ></a >
          <a class="btn  btn-lg quote" href="#contactus" role="button"
            >Contact Us </a
          >
          <a class="btn  btn-lg" href="#products" role="button">
            Products
            </a >
          <a class="btn  btn-lg quote" href="#" role="button"
            ></a
          >
        </div>
        <!-- <div class="col"></div> -->
      </div>
    </div>
    <div class="d03">
        <!-- <img src="../.././../assets/images/dsi .png" alt="" /> -->
    </div>
    
  </div>
</div>
</section>
