<div class="container-fluid">
  
</div>
<!-- <header class="headerbar  ">
  <div class="container flex space-between centerdiv">
    <div class="logodiv">
      <a class="" href="#">
        <img
          src="../../../favicon.ico"
          alt="Logo"
          width="50"
          height="30"
          class="logo"
        />
        Syntax Solution
      </a>
    </div>
    <nav>
      <ul class="
      
      list d-flex">
        <li class="selected-item">
          <a class="" href="#">Home</a>
        </li>
        <li class="">
          <a class="" aria-current="page" href="#">Services</a>
        </li>
        <li class="">
          <a class="" href="#">Products</a>
        </li>
        <li class="">
          <a class="" href="#">About Us</a>
        </li>
      </ul>
      <button id="toggle" class="menu">Menu</button>
    </nav>
  </div>
 <div class="hiddenmenu"></div>
</header> -->

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container centerdiv">
    <a class="navbar-brand" href="#">
      <img
        src="../../../favicon.ico"
        alt="Logo"
        width="50"
        height="30"
        class="logo"
      />
      Syntax Solution
    </a>
    
    <div class="d-flex">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active selected-item" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#aboutus">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#contactus">Contact Us</a>
        </li>
       
      </ul>
      
     </div>   
    
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>