<div class="firstdiv"></div>
<div class="navdiv">
  <div class="nv1stdiv"></div>
<div class="centerdiv">
<nav class="" >
    <div class="maincontainer">
        <div class="brandcontainer">
            <!-- <a class="navbar-brand navbarbrand" href="#">
                <img src="../../../favicon.ico" alt="Logo" width="50" height="30" class="d-inline-block align-text-top">
                Syntax Solution </a> -->
        </div>
        
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      
      <div class="ulcontainer" >
        <ul class="navul">
          <li class="nav-li">
            <a class="" href="#">Home</a>
          </li>
          <li class="nav-li">
            <a class="" aria-current="page" href="#">Services</a>
          </li>
          <li class="nav-li">
            <a class="" href="#">Our Team</a>
          </li>
          <li class="nav-li">
            <a class="" href="#">Products</a>
          </li>
          <li class="nav-li">
            <a class="" href="#">Hire/Join us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<div class="nv2nddiv"></div>
</div>