

nav{
 background: #EBECF0 !important;   
}
.space-between{
    justify-content: space-between;
}

.flex{
    display: flex;
    gap: var(--gap, 2rem);
    align-items: center;
}
.grid {
    display: grid;
    gap: var(--gap, 1rem);
}

.centerdiv{
    /* width: 88vw; */
    /* margin: 5px 5px; */
    padding: 20px 20px;
    border-radius: 70px;

    box-shadow:  inset 5px -5px 4px #bcbcbc,
    inset -5px 5px 4px #ffffff;
}

@media screen and (min-width:992px) {
    .selected-item{
    border-radius: 45%;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 4px #bcbcbc,
                inset -5px -5px 4px #ffffff;
    }
}



 