
<section class= "container-fluid flexed" id="products">

<div class="container">

    <div class="row cardflexscroll">
        <div class="col-sm-6 mb-3  cardinfo">
            <div class="card">
                <div>
                    <img src="../.././../assets/images/A colorful logo featuring a stylized, modern design of a delivery truck with gradient colors 1.png" class="center-it img-size" alt="...">
                </div>
                
                <div class="card-body">
                <h3 class="card-title">PickUpStation</h3>
                <p class="card-text">An efficient logistics company for businesses, It provides 
                  services for customers shipping goods locally and
                  soon overseas, Utilizing latest technologies while
                  reducing cost and time of shipping.</p>
                <a href="#" class="btn btn-lg quote">In Development</a>
              </div>
            </div>
          </div>
        <div class="col-sm-6 mb-3  cardinfo">
          <div class="card">
            <div>
                <img src="../.././../assets/images/eke.jpeg" class="center-it img-size" alt="...">
            </div>
            <div class="card-body">
              <p class="card-text"> 
                 <h3 class="card-title">Eke</h3>
                <p class="card-text">An E-Commerce (Online market place) Designed with the igbo's trading strategies, Enhanced and brought into the web space.</p>
              <a href="#" class="btn btn-lg ">In Development</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3  cardinfo">
          <div class="card">
            <div>
                <img src="../.././../assets/images/healthwise.jpeg" class="center-it img-size" alt="...">
            </div>
            <div class="card-body">
              <h3 class="card-title">HealthWise</h3>
              <p class="card-text">Health App Designed to track our health status and even determine Gender of unborn kids</p>
              <a href="#" class="btn btn-lg quote">In Development</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3  cardinfo">
          <div class="card">
            <div>
                <img src="../.././../assets/images/explained.jpg" class="center-it img-size" alt="...">
            </div>
            <div class="card-body">
              <h3 class="card-title">Explained!</h3>
              <p class="card-text">As the name implies is Blog designed to clearify doubts/confusion people have about anything and also teach/push all tech related content.</p>
              <a href="#" class="btn btn-lg ">In Development</a>
            </div>
          </div>
        </div>
      </div>
</div>
          
</section>
