


.productcard-img{
width: 45%;
height: 70%;
border-radius: 10%;
}
.productcard-img2{
    /* width: inherit;
    height: inherit; */
    border-radius: 10%;
    }
.cardinfocontent{
    margin: 5%;
}

.fivepercent-border{
    border-radius: 20%;
    margin: 2%;
}
.card{
    border-color: #EBECF0;
    margin: 3%;
}
.cardtext{
}
.container{
    /* margin-bottom: 10%;*/
    padding: auto;
}
section {
   height: 70vh
}


.subheading > li{
    list-style-type: none;
}
.cardflexscroll {
    margin: 1%;
}
.col-sm-6{
    margin: 3%;
}
.img-size {
    max-width: 100px; 
    border-radius: 50%;
}
@media screen  and (min-width: 400px) {
    .img-fluid {
        /* max-width: 300px;  */
    }
    .cardinfo-in{
        /* border-style:dotted;
        border-color: rgb(65, 8, 223) !important; */
        border-radius: 4% !important;
        text-align: center;
        height: 60vh;
        box-shadow:
         /* inset 5px 7px 6px #bcbcbc, */
        /* inset -7px -6px #ffffff, inset 10px 6px 1px rgb(179, 177, 177); */
        inset 5px 7px 6px #220d0d,;
    }
    
}
@media screen  and (max-width: 500px) {
.cardflexscroll{
    flex-direction: column;
}
}
@media screen  and (min-width: 360px) {
    .row{
        flex-wrap: nowrap;
        overflow-x: scroll;
        align-items: center;
        /* flex-direction: row; */
    }
    .cardflexscroll::-webkit-scrollbar {
        display: none;
      }
        /* .col-sm-6 {
            margin-bottom: 10%;
        } */
        .cardflexscroll{
            /* margin-bottom: 10%; */
            height: 60vh;
        }
        

}