
<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="../.././../assets/images/A colorful logo featuring a stylized, modern design of a delivery truck with gradient colors 1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">PickUpStation</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                  </div>
           </div>
           <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../.././../assets/images/A_colorful_logo_featuring_a_stylized__modern_design_of_a_delivery_truck_with_gradient_colors_1-removebg-preview.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">EKE</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="../.././../assets/images/A_colorful_logo_featuring_a_stylized__modern_design_of_a_delivery_truck_with_gradient_colors_1-removebg-preview.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Explained!</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        </div>
        
    </div>
</section>
