
<section class="container-fluid flexed">

<!--    
    <div class="container">
        <div class="cardinfo" >
            <div class="cardinfocontent">
                    <div class="">
                        <h2 class="">EKE</h2>
                        <p class="">E-Commerce (Online market place) Designed with the igbo's trading strategies, Enhanced and brought into the web space.</p>
                  </div>
                  <div class="row">
                      <div class="col">
                          <img src="../.././../assets/images/eke_1.jpeg" class="productcard-img" alt="...">
                      </div>
                     <div class="col">
                      <h5>Benefits</h5>
                      <ul>
                          <li>Affordablity</li>
                          <li>Just in time delivery (JTD)</li>
                          <li>Built in Promotion mechenism</li>
                      </ul>
                      <a href="#" class="btn btn-primary">Visit EKE</a>
                     </div>
                      
                  </div>
            </div>
           
          
          </div>
    </div> -->
    <!-- <div class="container cardinfo">
        <div class="row cardinfocontent fivepercent-border" >
                    <div class="col center-products fivepercent-border">
                        <h2 class="">EKE</h2>
                        <p class="">E-Commerce (Online market place) Designed with the igbo's trading strategies, Enhanced and brought into the web space.</p>
                    </div>
                  <div class="row cardinfocontent">
                      <div class="col">
                          <img src="../.././../assets/images/eke_1.jpeg" class="productcard-img2" alt="...">
                      </div>
                     <div class="col">
                      <h5 class="">Benefits</h5>
                      <ul>
                          <li>Affordablity</li>
                          <li>Just in time delivery (JTD)</li>
                          <li>Built in Promotion mechenism</li>
                      </ul>
                      <a href="#" class="btn btn-primary center-products">Visit EKE</a>
                     </div>
                      
            </div>
           
          
          </div>
    </div> -->
<div class="container cardinfo-in">

    <div class="row cardflexscroll">
        <div class="col-sm-6 mb-3 mb-sm-0 cardinfo">
            <div class="card">
              <div class="card-body">
                <h3 class="card-title">PickUpStation</h3>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
        <div class="col-sm-6 mb-3 mb-sm-0 cardinfo ">
          <div class="card">
            <div class="card-body">
              <p class="card-text"> 
                 <h3 class="card-title">Eke</h3>
                    <p class="card-text text-break ">E-Commerce Designed with the igbo's trading strategies, Enhanced and brought into the web space.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 cardinfo">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">PickUpStation</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6 mb-3 mb-sm-0 cardinfo">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title">Explained!</h3>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
</div>
    <!-- <div class="container cardinfo">
        <div class="row cardinfocontent fivepercent-border" >

            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../.././../assets/images/eke_1.jpeg" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">EKE</h5>
                      <p class="card-text">E-Commerce (Online market place) Designed with the igbo's trading strategies, Enhanced and brought into the web space.</p>
                      <h5 class="">Benefits</h5>
                      <ul>
                          <li>Affordablity</li>
                          <li>Just in time delivery (JTD)</li>
                          <li>Built in Promotion mechenism</li>
                      </ul>
                      <a href="#" class="btn btn-primary center-products">Visit EKE</a></div>
                  </div>
                </div>
            </div>
           
          
          </div>
    </div> -->
<!-- <div class="container cardinfo">
    <div class="fivepercent-border">
            <div class="row g-0 ">
                <div class="">
                    <h3 class="fivepercent-border fw-bolder">Eke</h3>
                    <p class="card-text text-break fw-bolder lh-lg">E-Commerce (Online market place) Designed with the igbo's trading strategies, Enhanced and brought into the web space.</p>
                </div>
                    <div class="card mb-3" style="max-width: px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            <img src="../.././../assets/images/eke_1.jpeg" class="img-fluid rounded" alt="...">
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="">Benefits</h5>
                                <p>Affordablity</p>
                                <p>Just in time delivery (JTD)</p>
                                <p>Built in Promotion mechenism</p>
                                <a href="#" class="btn btn-primary">Visit EKE</a>
                            </div>
                          </div>
                        </div>
                      </div>
                
            </div>
      </div>
</div> -->

        <!-- <div class="col">
            <div class="card" >
                <img src="../.././../assets/images/explained.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Explained!</h5>
                  <p class="card-text">As the name thimplies is Blog designed to clearify doubts/confusion people have about anything and also teach/push all tech related content.</p>
                  <a href="#" class="btn btn-primary">Go Learn</a>
                </div>
              </div>
        </div> -->
        <!-- <div class="col">
            <div class="card">
                <img src="../.././../assets/images/A colorful logo featuring a stylized, modern design of a delivery truck with gradient colors 1.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PickUpStation</h5>
                  <p class="card-text">Is an efficient logistics for modern businesses, It provides a comprehensive range
                    of services for customers shipping goods locally and
                    soon overseas. Utilizing our newest technologies, This
                    reduces costs and increase efficiency for hassle-free,
                    timely logistics and shipping.</p>
                  <a href="#" class="btn btn-primary">EXPLORE</a>
                </div>
              </div>
       </div> -->

       
</section>
